{% extends "vertical.html" %}

{% block title %}{{title}}{% endblock title %}

{% block page_content %}
    {% include "partials/page-title.html" with title="User Management" subtitle=title %}
    <div class="row">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-warning">Reset Password</button>
                            <a href="{% url 'user_list' %}" class="btn btn-light">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}