{% extends "base.html" %}

{% load static i18n %}

{% block title %}Not Implemented - 501{% endblock title %}

{% block body_attribute %}
class="authentication-bg"
{% endblock body_attribute %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="card auth-card">
                    <div class="card-body p-0">
                        <div class="row align-items-center g-0">
                            <div class="col">
                                <div class="p-4">
                                    <div class="mx-auto mb-4 text-center">
                                        <div class="mx-auto text-center auth-logo">
                                            <a href="/" class="logo-dark">
                                                <img src="{% static '/images/logo-dark.png' %}" height="32" alt="logo dark">
                                            </a>
                                            
                                            <a href="/" class="logo-light">
                                                <img src="{% static '/images/logo-light.png' %}" height="28" alt="logo light">
                                            </a>
                                        </div>

                                        <img src="{% static '/images/501-error.svg' %}" alt="501 Error" height="250" class="mt-5 mb-3" style="font-family : JetBrains Mono; size : 25px;" />

                                        <h2 class="fs-22 lh-base">Not Implemented</h2>
                                        <p class="text-muted mt-1 mb-4">The server does not support the request method. <br /> Please try again later or contact support.</p>

                                        <div class="text-center">
                                            <a href="/" class="btn btn-danger">Back to Home</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
