{% extends "vertical.html" %}
{% block title %}{{title}}{% endblock title %}
{% block page_content %}
    {% include "partials/page-title.html" with title="Trips" subtitle=title %}
    <div class="row">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancel Trip</h4>
                    <p>Are you sure you want to cancel the trip for <strong>"{{ trip.customer.name }}"</strong> on <strong>{{ trip.trip_date|date:"d M Y" }}</strong>?</p>
                    <p class="text-warning">This will change the trip status to 'Cancelled' and send a notification to the customer.</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Confirm Cancellation</button>
                        <a href="{% url 'trip_list' %}" class="btn btn-light">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}